<!DOCTYPE html>
<html>
  <body style="background-color:IndianRed;">


    <p><%= link_to "Shelter Index", "/shelters" %></p>
    <p><%= link_to "Pet Index", "/pets" %></p>

    <h1><%="Adopt don't Shop"%></h1>

    <h2>Name: <%= @shelter.name %><h2>
    <h3><%= @shelter.address %></h3>
    <h3><%= @shelter.city %></h3>
    <h3><%= @shelter.state %></h3>
    <h3><%= @shelter.zip %></h3>

    <h3><%= link_to "Pets", "/shelters/#{@shelter.id}/pets" %></h3>

    <p><%= link_to "Edit", "/shelters/#{@shelter.id}/edit" %></p>

    <p><%= button_to "Delete", "/shelters/#{@shelter.id}", method: :delete %></p>
  </body>
</html>
