<a href='/shelters'>Shelter Index</a>

<h1>Update Pet</h1>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <p><%= label_tag :Name %>
  <%= text_field_tag :name %></p>

  <p><%= label_tag :Description %>
  <%= text_field_tag :description %></p>

  <p><%= label_tag :Age %>
  <%= text_field_tag :age %></p>

  <p><%= label_tag :Sex %>
  <%= text_field_tag :sex %></p>

  <%= submit_tag "Update Pet" %>
<% end %>
