<a href='/shelters'>Shelter Index</a>

<h1>Pets List</h1>

<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
  <img src=<%="#{pet.image}"%>>
  <%= pet.age %>
  <%= pet.sex %>
<% end %>
