<p><%= link_to "Shelter Index", "/shelters" %></p>
<p><%= link_to "Pet Index", "/pets" %></p>

<h1>Pets List</h1>

<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
  <img src=<%="#{pet.image}"%>>
  <%= pet.age %>
  <%= pet.sex %>

  <p><%=  link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></p>
  <p><%= button_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></p>
<% end %>
