<!DOCTYPE html>
<html>
  <body style="background-color:silver;">

    <p><%= link_to "Shelter Index", "/shelters" %></p>
    <p><%= link_to "Pet Index", "/pets" %></p>

    <h1><%="Adopt don't Shop"%></h1>

<h2>Pets List</h2>

<% @pets.each do |pet| %>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <p><%= pet.image %></p>
  <img src=<%="#{pet.image}"%>>
  <p>Age: <%= pet.age %>
  <%= pet.sex %></p>

  <p><%=  link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></p>
  <p><%= button_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></p>
<% end %>
</body>
