<!DOCTYPE html>
<html>
  <body style="background-color:IndianRed;">

    <p><%= link_to "Shelter Index", "/shelters" %></p>
    <p><%= link_to "Pet Index", "/pets" %></p>
    
    <h1><%="Adopt don't Shop"%></h1>

<h2>Name: <%= @pet.name %></h2>
<h3><img src='<%= @pet.image %>'></h3>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Shelter: <%= @shelter.name %></p>
<p>Available for adoption: <%= @pet.adoptable? %></p>

<p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>

<p><%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
